/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.header_container {
  padding-left: 5%;
  padding-right: 5%;
  max-width: 1400px;
  margin: 0 auto; }

.container {
  padding-left: 3%;
  padding-right: 3%;
  max-width: 1170px;
  margin: 0 auto; }

.wrapper {
  margin-top: 100px; }

a {
  text-decoration: none; }

body {
  background-color: #F4F4F4; }

.main_button_dark {
  padding: 10px 15px;
  background-color: #777;
  color: #fff;
  text-transform: uppercase;
  font-family: Lora;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; }

/* header styles
   ========================================================================== */
.header__background {
  background-image: url("../image/Pic_Slider.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .header__background .header_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Marcellus;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    padding-top: 20px; }
    .header__background .header_head nav ul {
      display: flex; }
      .header__background .header_head nav ul li {
        margin-right: 30px; }
        .header__background .header_head nav ul li a {
          color: #FFF; }
    .header__background .header_head .header_head__search {
      width: 130px;
      height: 16px; }
      .header__background .header_head .header_head__search form {
        display: flex;
        background: none;
        border: none;
        outline: none; }
        .header__background .header_head .header_head__search form button,
        .header__background .header_head .header_head__search form input {
          background: none;
          border: none;
          outline: none; }
        .header__background .header_head .header_head__search form input:hover {
          border: 1px solid #fff; }
    .header__background .header_head .header_head__login a {
      color: #FFF; }
    .header__background .header_head .header_head__cart {
      display: flex;
      align-items: center; }
      .header__background .header_head .header_head__cart div {
        color: #FFF; }
      .header__background .header_head .header_head__cart a {
        color: #FFF; }
        .header__background .header_head .header_head__cart a img {
          position: relative; }
        .header__background .header_head .header_head__cart a div {
          position: absolute;
          top: 10%;
          left: 80%; }
  .header__background .header_content_container {
    padding-left: 13%;
    padding-right: 13%;
    max-width: 1200px;
    margin: 0 auto; }
    .header__background .header_content_container .header_content {
      width: 50%;
      color: #FFF;
      margin-top: 160px;
      padding-bottom: 160px; }
      .header__background .header_content_container .header_content h3 {
        font-family: Lora;
        font-size: 22px;
        font-style: italic;
        font-weight: 400;
        line-height: 25px; }
      .header__background .header_content_container .header_content h1 {
        font-family: Marcellus;
        font-size: 54px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px; }
      .header__background .header_content_container .header_content p {
        font-family: Lora;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; }
      .header__background .header_content_container .header_content .header_content__button {
        display: flex;
        align-items: center; }
        .header__background .header_content_container .header_content .header_content__button a {
          padding: 10px 15px;
          border: 1px solid #FFF;
          margin-right: 15px; }
        .header__background .header_content_container .header_content .header_content__button .btn_1 {
          color: #000;
          background-color: #fff; }
        .header__background .header_content_container .header_content .header_content__button .btn_2 {
          color: #fff; }

/* footer styles
   ========================================================================== */
.footer_background {
  background-color: #EAEAEA; }
  .footer_background .footer_container {
    padding-left: 15%;
    padding-right: 15%;
    max-width: 1400px;
    margin: 0 auto; }
  .footer_background .footer {
    display: flex;
    justify-content: space-between;
    color: var(--Dark-Light, #777);
    font-family: Lora;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-top: 60px;
    padding-bottom: 70px; }
    .footer_background .footer .footer_logo {
      width: 30%; }
      .footer_background .footer .footer_logo .footer_logo__text {
        margin-bottom: 37px; }
      .footer_background .footer .footer_logo .footer_logo__contact div {
        display: flex;
        align-items: center; }
        .footer_background .footer .footer_logo .footer_logo__contact div svg {
          margin-right: 5px; }
    .footer_background .footer .footer_posts {
      width: 30%; }
      .footer_background .footer .footer_posts .footer_posts__head {
        color: #000;
        font-family: Marcellus;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        text-transform: uppercase; }
      .footer_background .footer .footer_posts .footer_posts_content {
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--Grey, #DFDFDF); }
        .footer_background .footer .footer_posts .footer_posts_content img {
          margin-right: 15px; }
        .footer_background .footer .footer_posts .footer_posts_content div p span {
          color: var(--Dark, #242424);
          font-family: Marcellus;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          text-transform: uppercase; }
    .footer_background .footer .footer_stores .footer_stores__head {
      color: #000;
      font-family: Marcellus;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;
      text-transform: uppercase; }
    .footer_background .footer .footer_stores div {
      margin-bottom: 10px; }
    .footer_background .footer .footer_stores a {
      color: inherit; }

/* Store section styles
   ========================================================================== */
.store {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .store .store__image {
    width: 50%; }
    .store .store__image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .store .store_content {
    width: 50%;
    text-align: center;
    padding-left: 76px; }
    .store .store_content .store_content__name {
      color: var(--Gold, #C3935B);
      font-family: Lora;
      font-size: 22px;
      font-style: italic;
      font-weight: 500;
      line-height: 25px; }
    .store .store_content .store_content__head {
      color: var(--Dark, #242424);
      font-family: Marcellus;
      font-size: 62px;
      font-style: normal;
      font-weight: 400; }
    .store .store_content .store_content__subhead {
      color: var(--Dark, #242424);
      font-family: Marcellus;
      font-size: 45px;
      font-style: normal;
      font-weight: 400; }
    .store .store_content .store_content__text {
      color: var(--Dark-Light, #777);
      font-family: Lora;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px; }
    .store .store_content .store_content__button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 60px; }
      .store .store_content .store_content__button .store_content__button__one {
        background: var(--Dark-Light, #777);
        color: #fff;
        padding: 10px 15px; }
      .store .store_content .store_content__button .store_content__button__two {
        border: 1px solid var(--Grey, #DFDFDF);
        padding: 10px 15px; }

/* feautured products section styles
   ========================================================================== */
.products {
  text-align: center; }
  .products .products__name {
    color: var(--Gold, #C3935B);
    font-family: Lora;
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    line-height: 25px; }
  .products .products__head {
    color: var(--Dark, #242424);
    font-family: Marcellus;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; }
  .products .products__subhead {
    color: var(--Dark-Light, #777);
    font-family: Lora;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 50px; }
  .products .products_content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px; }
    .products .products_content .products_content_name .products_content_name__image {
      position: relative;
      z-index: 5; }
      .products .products_content .products_content_name .products_content_name__image img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .products .products_content .products_content_name .products_content_name__image2 .products_content_name__head {
      color: #fff; }
    .products .products_content .products_content_name .products_content_name__image2 .products_content_name__text {
      color: var(--Grey, #DFDFDF); }
    .products .products_content .products_content_name .products_content_name__head {
      color: #000;
      font-family: Lora;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 35px;
      position: absolute;
      top: 60%;
      left: 12%;
      width: 75%;
      z-index: 4; }
    .products .products_content .products_content_name .products_content_name__text {
      color: var(--Dark-Light, #777);
      font-family: Lora;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
      position: absolute;
      top: 80%;
      left: 2%;
      width: 95%;
      z-index: 3; }
    .products .products_content .slider {
      width: 70%; }
      .products .products_content .slider .slick-arrow {
        position: absolute;
        top: 50%;
        border: none;
        cursor: pointer;
        padding: 0;
        color: #2c2c2c;
        font-size: 22px;
        z-index: 2; }
      .products .products_content .slider .slick-prev {
        left: 0; }
      .products .products_content .slider .slick-next {
        right: 0; }
      .products .products_content .slider .products_content_card .products_content_card_self {
        position: relative; }
        .products .products_content .slider .products_content_card .products_content_card_self .products_content_card_self__image img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
        .products .products_content .slider .products_content_card .products_content_card_self .products_content_card_self__name {
          color: var(--Dark, #242424);
          font-family: Marcellus;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 25px; }
        .products .products_content .slider .products_content_card .products_content_card_self .products_content_card_self__catagory {
          color: var(--Dark-Light, #777);
          text-align: center;
          font-family: Lora;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 25px; }
        .products .products_content .slider .products_content_card .products_content_card_self .products_content_card_self__price {
          color: var(--Gold, #C3935B);
          text-align: center;
          font-family: Lora;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 25px; }

/* special offer section styles
   ========================================================================== */
.special {
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .special .special_banner {
    position: relative;
    width: 55%; }
    .special .special_banner img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center left; }
    .special .special_banner .special_banner_content {
      position: absolute;
      top: 10%;
      left: 50%;
      color: var(--Dark, #242424); }
      .special .special_banner .special_banner_content .special_banner_content__offer {
        font-family: Lora;
        font-size: 22px;
        font-style: italic;
        font-weight: 500;
        line-height: 25px; }
      .special .special_banner .special_banner_content .special_banner_content__name {
        font-family: Marcellus;
        font-size: 54px;
        font-style: normal;
        font-weight: 400;
        line-height: 65px; }
      .special .special_banner .special_banner_content .special_banner_content__text {
        font-family: Marcellus;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        text-transform: uppercase;
        margin-bottom: 30px; }
  .special .special_products {
    display: flex;
    width: 50%; }
    .special .special_products .special_products_block {
      margin-left: 45px; }
      .special .special_products .special_products_block .special_products_block__head {
        color: #000;
        font-family: Marcellus;
        font-size: 16px;
        font-style: normal;
        font-weight: 100;
        line-height: 25px;
        text-transform: uppercase; }
      .special .special_products .special_products_block .special_products_block_content .special_products_block_content_sec {
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--Grey, #DFDFDF); }
        .special .special_products .special_products_block .special_products_block_content .special_products_block_content_sec .special_products_block_content__image {
          width: 65px;
          height: auto; }
        .special .special_products .special_products_block .special_products_block_content .special_products_block_content_sec .special_products_block_content_discription {
          display: flex;
          flex-direction: column;
          margin-bottom: 15px; }
          .special .special_products .special_products_block .special_products_block_content .special_products_block_content_sec .special_products_block_content_discription div {
            color: var(--Dark, #242424);
            font-family: Marcellus;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            margin-bottom: 10px; }
            .special .special_products .special_products_block .special_products_block_content .special_products_block_content_sec .special_products_block_content_discription div span {
              color: var(--Gold, #C3935B);
              font-family: Lora;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 16px; }

/*# sourceMappingURL=style.css.map */
